page-forgot-password {


  .customIcon {
    font-size: 1.7em;
  }


  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }



  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #3a3a3a;
    -webkit-box-shadow: inset 0 -1px 0 0 #3a3a3a;
    box-shadow: inset 0 -1px 0 0 #3a3a3a;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #3a3a3a;
    -webkit-box-shadow: inset 0 -1px 0 0 #3a3a3a;
    box-shadow: inset 0 -1px 0 0 #3a3a3a;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #3a3a3a;
    -webkit-box-shadow: inset 0 -1px 0 0 #3a3a3a;
    box-shadow: inset 0 -1px 0 0 #3a3a3a;
  }



  .Center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }



}
