page-device-list {


  /* Ripple effect */

  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
  }
  .ripple:active {
    background: #f1f1f1;
    background-size: 100%;
    transition: background 0s;
  }

  .item-md ion-thumbnail img, .item-md ion-thumbnail ion-img {
    width: 112px;
    height: 80px;
  }

  .customIcon {
    font-size: 1.7em;
    margin-left: 10px;
  }

}
